*
{
  padding: 0px;
  margin: 0px;
}
.App
{
  margin: 350px 0px 0px 0px;
}
.box
{
  width: 200px;
  padding: 60px 200px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: auto;
  font-family: serif;
}
.container
{
  margin: 0px 0px 0px 10px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.plus
{
  padding: 10px 24px;
}
.min
{
  padding: 24px 24px;
}
.resu
{
  padding: 24px 24px;
}